body {
    background-color: #333;
    color: #eee
}

code {
    font-family: monospace;
}

img {
    max-width: 100%;
    padding: 0;
    width: auto;
    height: auto;
}

.img-button {
    margin: 0;
    padding: 0;
    border-width: 2;
    border-style: solid;
    border-color: #222;
    cursor: pointer;
    background-color: #222;
}

.img-holder {
    margin: 2em;
    padding: 0;
}

#jsoneditor {
    background-color: #eee;
}

ul.fractalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.fractalList > li {
  float: left;
}

ul.fractalList > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.fractalList > li a:hover {
  background-color: #111111;
}
