{% extends "base" %}
{% block title %}Random Fractal{% endblock title %}

{% block content %}
    <p>
        Seed: {{ seed }}
    </p>
    <div class="image-holder">
        <img src="{{ path | safe }}">
    </div>

    <form action="/grade" method="post">
        <input type="range" name="score" value="20" min="1" max="100">
        <input type="text" name="json" hidden readonly value="{{ json }}">
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
