<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href="static/style.css">
        <title></title>
    </head>
    <body>
        <p>
            {{ description }} (probably {{ finished }})
        </p>
        <p>
            Seed: {{ seed }}
        </p>
        <div class="image-holder">
            <img src="{{ path | safe }}">
        </div>
        <pre class="code">{{ json | safe }}</pre>
    </body>
</html>
